In [2]:
# Import necessary libraries
import bs4 as bs
import urllib.request 
import pandas as pd
import numpy as np

In [10]:
# 2017 Tight End Data
source_2017 = urllib.request.urlopen("https://stathead.com/tiny/pw1Ap").read()
soup = bs.BeautifulSoup(source_2017, 'lxml')
table = soup.find_all('table')
te_2017 = pd.read_html(str(table))[0]
te_2017 = te_2017[['Date', 'Team', 'Player', 'Week', 'Yds', 'TD', 'FantPt']].copy()
te_2017.head()

         Date Team          Player  Week  Yds  TD  FantPt
0  2017-10-08  CAR      Ed Dickson     5  175   0    17.5
1  2017-12-17  NWE  Rob Gronkowski    15  168   0    18.8
2  2017-12-03  NWE  Rob Gronkowski    13  147   0    14.7
3  2017-10-30  KAN    Travis Kelce     8  133   1    19.3
4  2017-09-10  ATL   Austin Hooper     1  128   1    18.8

In [9]:
# 2018 Tight End Data
source_2018 = urllib.request.urlopen("https://stathead.com/tiny/47PSB").read()
soup = bs.BeautifulSoup(source_2018, 'lxml')
table = soup.find_all('table')
te_2018 = pd.read_html(str(table))[0]
te_2018 = te_2018[['Date', 'Team', 'Player', 'Week', 'Yds', 'TD', 'FantPt']].copy()
te_2018.head()

         Date Team         Player  Week  Yds  TD  FantPt
0  2018-12-09  SFO  George Kittle    14  210   1    27.0
1  2018-09-10  OAK     Jared Cook     1  180   0    18.0
2  2018-12-02  KAN   Travis Kelce    13  168   2    26.8
3  2018-12-30  SFO  George Kittle    17  149   1    20.9
4  2018-11-11  PHI      Zach Ertz    10  145   2    26.5

In [8]:
# 2019 Tight End Data
source_2019 = urllib.request.urlopen("https://stathead.com/tiny/fTWUj").read()
soup = bs.BeautifulSoup(source_2019, 'lxml')
table = soup.find_all('table')
te_2019 = pd.read_html(str(table))[0]
te_2019 = te_2019[['Date', 'Team', 'Player', 'Week', 'Yds', 'TD', 'FantPt']].copy()
te_2019.head()

         Date Team          Player  Week  Yds  TD  FantPt
0  2019-12-15  KAN    Travis Kelce    15  142   0    14.2
1  2019-10-03  LAR  Gerald Everett     5  136   0    13.6
2  2019-12-15  SFO   George Kittle    15  134   0    13.4
3  2019-09-22  OAK   Darren Waller     3  134   0    14.1
4  2019-09-08  DET  T.J. Hockenson     1  131   1    19.1

In [5]:
# 2020 Tight End Data
source_2020 = urllib.request.urlopen("https://stathead.com/tiny/FiDAQ").read()
soup = bs.BeautifulSoup(source_2020, 'lxml')
table = soup.find_all('table')
te_2020 = pd.read_html(str(table))[0]
te_2020 = te_2020[['Date', 'Team', 'Player', 'Week', 'Yds', 'TD', 'FantPt']].copy()
te_2020.head()

         Date Team         Player  Week  Yds  TD  FantPt
0  2020-12-06  LVR  Darren Waller    13  200   2    32.0
1  2020-10-04  SFO  George Kittle     4  183   1    25.1
2  2020-11-08  KAN   Travis Kelce     9  159   0    15.9
3  2020-12-17  LVR  Darren Waller    15  150   1    21.0
4  2020-12-06  KAN   Travis Kelce    13  136   1    19.6

In [6]:
# 2021 Tight End Data
source_2021 = urllib.request.urlopen("https://stathead.com/tiny/PeWHC").read()
soup = bs.BeautifulSoup(source_2021, 'lxml')
table = soup.find_all('table')
te_2021 = pd.read_html(str(table))[0]
te_2021 = te_2021[['Date', 'Team', 'Player', 'Week', 'Yds', 'TD', 'FantPt']].copy()
te_2021.head()

         Date Team         Player  Week  Yds  TD  FantPt
0  2021-12-16  KAN   Travis Kelce    15  191   2    31.1
1  2021-12-05  SFO  George Kittle    13  181   2    30.6
2  2021-10-24  ATL     Kyle Pitts     7  163   0    16.3
3  2021-12-12  SFO  George Kittle    14  151   1    21.1
4  2021-10-10  CLE    David Njoku     5  149   1    20.9

In [11]:
season_5yr = pd.concat(
    [te_2017, te_2018, te_2019, te_2020, te_2021], axis=0)

display(season_5yr.head(75))
display(season_5yr.tail(75))

          Date Team          Player  Week  Yds  TD  FantPt
0   2017-10-08  CAR      Ed Dickson     5  175   0    17.5
1   2017-12-17  NWE  Rob Gronkowski    15  168   0    18.8
2   2017-12-03  NWE  Rob Gronkowski    13  147   0    14.7
3   2017-10-30  KAN    Travis Kelce     8  133   1    19.3
4   2017-09-10  ATL   Austin Hooper     1  128   1    18.8
..         ...  ...             ...   ...  ...  ..     ...
70  2017-11-12  CLE    Seth Devalve    10   70   0     5.0
71  2017-11-05  NYG     Evan Engram     9   70   1    13.0
72  2017-10-05  TAM   Cameron Brate     5   68   1    12.8
73  2017-12-17  BUF    Charles Clay    15   68   0     6.8
74  2017-10-01  CIN     Tyler Kroft     4   68   2    18.8

[75 rows x 7 columns]

           Date Team          Player  Week  Yds  TD  FantPt
125  2021-10-03  PHI  Dallas Goedert     4   56   1    11.6
126  2021-12-26  HOU   Brevin Jordan    16   56   0     5.6
127  2021-12-12  CIN     C.J. Uzomah    14   56   0     5.6
128  2021-10-10  NYG     Evan Engram     5   55   0     5.5
129  2021-09-26  TAM  Rob Gronkowski     3   55   0     5.5
..          ...  ...             ...   ...  ...  ..     ...
195  2021-12-12  GNB  Josiah Deguara    14   44   0     4.4
196  2021-10-24  NYG     Evan Engram     7   44   0     4.4
197  2021-10-31  PIT  Pat Freiermuth     8   44   1    10.4
198  2021-12-12  NOR    Nick Vannett    14   44   0     4.4
199  2021-11-08  PIT  Pat Freiermuth     9   43   2    16.3

[75 rows x 7 columns]

In [17]:
# Add collumn to dataframe to establish point threshold of postion
# for Tight End we want to have the equivalent of 2 touchdowns
season_5yr["Threshold"] = np.where(season_5yr["FantPt"] >= 12, 1, 0)

season_5yr.head(75)

          Date Team          Player  Week  Yds  TD  FantPt  Threshold
0   2017-10-08  CAR      Ed Dickson     5  175   0    17.5          1
1   2017-12-17  NWE  Rob Gronkowski    15  168   0    18.8          1
2   2017-12-03  NWE  Rob Gronkowski    13  147   0    14.7          1
3   2017-10-30  KAN    Travis Kelce     8  133   1    19.3          1
4   2017-09-10  ATL   Austin Hooper     1  128   1    18.8          1
..         ...  ...             ...   ...  ...  ..     ...        ...
70  2017-11-12  CLE    Seth Devalve    10   70   0     5.0          0
71  2017-11-05  NYG     Evan Engram     9   70   1    13.0          1
72  2017-10-05  TAM   Cameron Brate     5   68   1    12.8          1
73  2017-12-17  BUF    Charles Clay    15   68   0     6.8          0
74  2017-10-01  CIN     Tyler Kroft     4   68   2    18.8          1

[75 rows x 8 columns]

In [18]:
# Understand spread
season_5yr['Threshold'].value_counts()

0    713
1    287
Name: Threshold, dtype: int64

In [24]:
# Simplify date to year only
season_5yr.dtypes

Date          object
Team          object
Player        object
Week           int64
Yds            int64
TD             int64
FantPt       float64
Threshold      int32
dtype: object

In [30]:
# Convert Date Column to year only
season_5yr['Date'] = pd.to_datetime(season_5yr['Date'])
season_5yr['Season'] = season_5yr['Date'].dt.year
season_5yr.dtypes

Date         datetime64[ns]
Team                 object
Player               object
Week                  int64
Yds                   int64
TD                    int64
FantPt              float64
Threshold             int32
ID                    int64
Season                int64
dtype: object

In [36]:
# create unique id number for each player
season_5yr['ID'] = season_5yr.groupby(['Player']).ngroup() 
season_5yr

,Date,Team,Player,Week,Yds,TD,FantPt,Threshold,ID,Season
0,2017-10-08,CAR,Ed Dickson,5,175,0,17.5,1,33,2017
1,2017-12-17,NWE,Rob Gronkowski,15,168,0,18.8,1,98,2017
2,2017-12-03,NWE,Rob Gronkowski,13,147,0,14.7,1,98,2017
3,2017-10-30,KAN,Travis Kelce,8,133,1,19.3,1,108,2017
4,2017-09-10,ATL,Austin Hooper,1,128,1,18.8,1,5,2017
...,...,...,...,...,...,...,...,...,...,...
195,2021-12-12,GNB,Josiah Deguara,14,44,0,4.4,0,71,2021
196,2021-10-24,NYG,Evan Engram,7,44,0,4.4,0,35,2021
197,2021-10-31,PIT,Pat Freiermuth,8,44,1,10.4,0,93,2021
198,2021-12-12,NOR,Nick Vannett,14,44,0,4.4,0,90,2021
199,2021-11-08,PIT,Pat Freiermuth,9,43,2,16.3,1,93,2021

In [37]:
# Create a copy of 5 Year Data
model_5yr = season_5yr.copy()
model_5yr

,Date,Team,Player,Week,Yds,TD,FantPt,Threshold,ID,Season
0,2017-10-08,CAR,Ed Dickson,5,175,0,17.5,1,33,2017
1,2017-12-17,NWE,Rob Gronkowski,15,168,0,18.8,1,98,2017
2,2017-12-03,NWE,Rob Gronkowski,13,147,0,14.7,1,98,2017
3,2017-10-30,KAN,Travis Kelce,8,133,1,19.3,1,108,2017
4,2017-09-10,ATL,Austin Hooper,1,128,1,18.8,1,5,2017
...,...,...,...,...,...,...,...,...,...,...
195,2021-12-12,GNB,Josiah Deguara,14,44,0,4.4,0,71,2021
196,2021-10-24,NYG,Evan Engram,7,44,0,4.4,0,35,2021
197,2021-10-31,PIT,Pat Freiermuth,8,44,1,10.4,0,93,2021
198,2021-12-12,NOR,Nick Vannett,14,44,0,4.4,0,90,2021
199,2021-11-08,PIT,Pat Freiermuth,9,43,2,16.3,1,93,2021

In [38]:
# Drop Object Data and Re-order colums
model_5yr = model_5yr.drop(['Date', 'Team', 'Player'], axis=1)
model_5yr

     Week  Yds  TD  FantPt  Threshold   ID  Season
0       5  175   0    17.5          1   33    2017
1      15  168   0    18.8          1   98    2017
2      13  147   0    14.7          1   98    2017
3       8  133   1    19.3          1  108    2017
4       1  128   1    18.8          1    5    2017
..    ...  ...  ..     ...        ...  ...     ...
195    14   44   0     4.4          0   71    2021
196     7   44   0     4.4          0   35    2021
197     8   44   1    10.4          0   93    2021
198    14   44   0     4.4          0   90    2021
199     9   43   2    16.3          1   93    2021

[1000 rows x 7 columns]

In [39]:
model_5yr = model_5yr[['ID', 'Threshold', 'Season', 'Week', 'Yds', 'TD', 'FantPt']]
model_5yr

      ID  Threshold  Season  Week  Yds  TD  FantPt
0     33          1    2017     5  175   0    17.5
1     98          1    2017    15  168   0    18.8
2     98          1    2017    13  147   0    14.7
3    108          1    2017     8  133   1    19.3
4      5          1    2017     1  128   1    18.8
..   ...        ...     ...   ...  ...  ..     ...
195   71          0    2021    14   44   0     4.4
196   35          0    2021     7   44   0     4.4
197   93          0    2021     8   44   1    10.4
198   90          0    2021    14   44   0     4.4
199   93          1    2021     9   43   2    16.3

[1000 rows x 7 columns]